# UNIT-9

# TUPLES PART-1

# 1.WHAT ARE TUPLES
# 2. CONCATINATION OF TUPLES
# 3.NESTING OF TUPLES
# 4. LENGTH()
# 5. COUNT()
# 6.INDEX()
# 7.REPETATION IN TUPLE()
# 8.TUPLE()
# 9. TUPLE-->> LIST

# ** INTRODUCTION

In [1]:
# tuples are immutable
##  Tuple is a  collection of objects which ordered and immutable .
# tuples are sequences just like list
# the difference between tuples and lists are, tuples cannot be changed unlike lists and tuples use parentheses where lists use squatre brackets
# tuples are urdered, unchangable, and allow duplicate values

In [2]:
T=(12,13,15,36)
print(T)
print(type(T))

(12, 13, 15, 36)
<class 'tuple'>

In [3]:
t=(1.2,6.3,96.52,-54,-94,"apples","python","code")
print(t)
print(type(t))

(1.2, 6.3, 96.52, -54, -94, 'apples', 'python', 'code')
<class 'tuple'>

In [5]:
t=()  # empty tuple
print(t)
print(type(t))

()
<class 'tuple'>

In [6]:
t=(23)  # this is not a tuple
print(t)
print(type(t))

23
<class 'int'>

In [7]:
a=(25,)  # this is a tuple
print(type(a))

<class 'tuple'>

In [8]:
t=(12,78,36,95,14,(78,25,47,"string","tuple"))  # nested tuple
print(t)
print(type(t))

(12, 78, 36, 95, 14, (78, 25, 47, 'string', 'tuple'))
<class 'tuple'>

# concatenation of tuple

In [9]:
t1=(12,13,14,15)
t2=(16,17,18,19,20)
t3= t1+t2
print(t3)
print(type(t3))

(12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

# nesting of a tuple

In [10]:
t1=(20,30,40,50)
t2=(-1,-2,-3,-4)
t3=(t1,t2)
print(t3)
print(type(t3))

((20, 30, 40, 50), (-1, -2, -3, -4))
<class 'tuple'>

# multiply of tuple

In [11]:
t1=("aplle","bat","cat")
t2=t1*3
print(t2)
print(type(t2))

('aplle', 'bat', 'cat', 'aplle', 'bat', 'cat', 'aplle', 'bat', 'cat')
<class 'tuple'>

# length of the tuple

In [13]:
t1=("aplle","bat","cat")
t2=t1*3
print(t2)
print(ty pe(t2))
print(len(t1))
print(len(t2))

('aplle', 'bat', 'cat', 'aplle', 'bat', 'cat', 'aplle', 'bat', 'cat')
<class 'tuple'>
3
9

# Count() method

In [17]:
t=(4,5,4,6,7,8,4,6)
print(t.count(4))

3

# Indexing of a tuple

In [18]:
t=(14,25,96,78,36)  ## ---->> 0
print(t[0])         ## <<---- -1

14

In [20]:
print(t[4])

36

In [21]:
t[-1]

36

In [22]:
t[-4]

25

# ** index() method

In [23]:
t=(14,96,78,35,75)  ## it returns the index number of a particular elements
t.index(78)

2

In [25]:
t=(14,96,78,35,75,"code","python","program")
print(t.index("program"))

7

# Slicing in tuple

In [26]:
t=(14,89,36,74,25,"tahir","krishna")
print(t[0:4])

(14, 89, 36, 74)

In [27]:
print(t[0:])

(14, 89, 36, 74, 25, 'tahir', 'krishna')

In [28]:
print(t[:])

(14, 89, 36, 74, 25, 'tahir', 'krishna')

In [29]:
print(t[::-1])  # reverse of a tuple

('krishna', 'tahir', 25, 74, 36, 89, 14)

In [30]:
print(t[0:7:2])

(14, 36, 25, 'krishna')

In [31]:
print(t[::2])

(14, 36, 25, 'krishna')

# ** Repetation in python tuples

In [32]:
t=(20)*3
print(t)

60

In [33]:
t=(20.5)*3
print(t)

61.5

In [34]:
t=("apple")*3
print(t)

appleappleapple

In [35]:
t[0]="hello"  ## it doesnot support tuple assignments
print(t)

TypeError: 'str' object does not support item assignment

# ** tuple() method

In [36]:
b=[12,14,26,48,96]
p=tuple(b)
print(p)

(12, 14, 26, 48, 96)

In [37]:
print(type(p))

<class 'tuple'>

In [38]:
"""convert a list into tuple and reverse it"""

'convert a list into tuple and reverse it'

In [39]:
l=[14,56,78,66,"krish","naik"]
t=tuple(l)
print(t)
print("the reverse of tuple is:",t[::-1])

(14, 56, 78, 66, 'krish', 'naik')
the reverse of tuple is: ('naik', 'krish', 66, 78, 56, 14)

# TUPLES PART-2

# 1. MAX()
# 2. MIN()
# 3. UNPACKING OF TUPLES
# 4.CONDITIONAL STATEMENTS IN TUPLES
# 5. LOOPS IN TUPLES

# ** max() method

In [2]:
a=(12,35,27,41,9)
print(max(a))

41

In [3]:
a=(12,35,27,41,9,92.36,89.34,-25,-75)
print(max(a))

92.36

In [5]:
a=("hello","apple","mobile","code","datascience")
print(max(a))

mobile

# min in tuples

In [6]:
a=("hello","apple","mobile","code","datascience")
print(min(a))

apple

In [7]:
a=(12,35,27,41,9,92.36,89.34,-25,-75)
print(min(a))

-75

# ** unpacking of tuple

In [8]:
fruits=("apple","banana","cherry")
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

# using asterisk(*)

In [10]:
fruits=("apple","banana","cherry","strawberry","rusberry")
(green,yellow,*red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'rusberry']

In [11]:
fruits=("apple","mango","papaya","pineapple","cherry")
(green,*tropic,red)=fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [13]:
"""sort a tuple"""  # sorting of a tuple in ascending order
t=(1,15,-25,36,75,-98,23.5,85.69,74.93)
sorted(t)

[-98, -25, 1, 15, 23.5, 36, 74.93, 75, 85.69]

In [15]:
"""sort a tuple"""  # sorting of a tuple in descending order
t=(1,15,-25,36,75,-98,23.5,85.69,74.93)
sorted(t,reverse=True)

[85.69, 75, 74.93, 36, 23.5, 15, 1, -25, -98]

In [16]:
print(type(t))

<class 'tuple'>

# ** using for loop in tuple

In [17]:
t=(1,15,-25,36,75,-98,23.5,85.69,74.93)
for i in t:
    print(i)

1
15
-25
36
75
-98
23.5
85.69
74.93

In [18]:
"""separete positive integers and negative integers from the tuple"""

'separete positive integers and negative integers from the tuple'

In [21]:
a=(14,6,18,23,-5,-20,26,31,-2,8,-10)
a1=list(a)
n1=[]
n2=[]
print(a1)
for i in a1:
    if i>=0:
        n1.append(i)
    else:
        n2.append(i)
print(n1)
print(n2)

[14, 6, 18, 23, -5, -20, 26, 31, -2, 8, -10]
[14, 6, 18, 23, 26, 31, 8]
[-5, -20, -2, -10]

In [39]:
"""multiply adjecent elements in tuple"""
mul=[];
t=(1,2,3,4,5,6,7,8,9,10)
t1=list(t)
print(t1)
for i in range(len(t1)):
    mul.append(t1[i]*t1[i+1])
    print(mul)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2]
[2, 6]
[2, 6, 12]
[2, 6, 12, 20]
[2, 6, 12, 20, 30]
[2, 6, 12, 20, 30, 42]
[2, 6, 12, 20, 30, 42, 56]
[2, 6, 12, 20, 30, 42, 56, 72]
[2, 6, 12, 20, 30, 42, 56, 72, 90]

IndexError: list index out of range

In [47]:
"""original list of tuple[(1,2),(2,3),(3,4)]
convert it into list of lists[[1,2],[2,3],[3,4]]
"""

l1=[(1,2),(2,3),(3,4)]
print(l1)
l2=[]
print(type(l1))
T1=tuple(l1) # converting list into tuple
print(T1)

(a1,a2,a3)=T1
print(a1)
print(a2)
print(a3)

a=list(a1)
b=list(a2)
c=list(a3)
print(a,b,c)

l2.append(a)
l2.append(b)
l2.append(c)
print(l2)

[(1, 2), (2, 3), (3, 4)]
<class 'list'>
((1, 2), (2, 3), (3, 4))
(1, 2)
(2, 3)
(3, 4)
[1, 2] [2, 3] [3, 4]
[[1, 2], [2, 3], [3, 4]]

In [51]:
"""original list of tuple 
[(1,2),(2,3),(3,4)] convert [3,5,7]
"""
l=[(1,2),(2,3),(3,4)]
l2=[]
n1=list(l[0])
n2=list(l[1])
n3=list(l[2])

print(n1,n2,n3)

sum1=n1[0]+n1[1]
sum2=n2[0]+n2[1]
sum3=n3[0]+n3[1]

print(sum1,sum2,sum3)

l2.append(sum1)
l2.append(sum2)
l2.append(sum3)
print(l2)

[1, 2] [2, 3] [3, 4]
3 5 7
[3, 5, 7]