# LIST PART-1

# 1. introduction to list

# unit-8

# 2. indexing & slicing
# 3. append()
# 4. extend()

# ** introduction

In [1]:
## a list in python is used to store the sequence of various types of data. a 
## a list can be defined as a collection of values or items of different types
## python list are mutable type which implies that we can modify its elements after it has been formed.
## the items in the list are seperated by comma and enclosed with square brackets[]
## list items are ordered , changable and allow duplicates

In [2]:
l=[12,56,23,89]
print(l)

[12, 56, 23, 89]

In [3]:
print(type(l))

<class 'list'>

In [6]:
a=[89,14,-14,0,"hello","students",6.23]
print(a)

[89, 14, -14, 0, 'hello', 'students', 6.23]

In [7]:
print(type(a))

<class 'list'>

# ** Indexing in list && Slicing

In [8]:
## python support positive zero-based indexing and negative indexing that starts from -1

In [9]:
a=[14,25,36,89,36,"stiudent","hello","teacher"]
print(a[0:5])

[14, 25, 36, 89, 36]

In [10]:
a=[14,25,36,89,36,"stiudent","hello","teacher"]
print(a[-1])

teacher

In [11]:
a=[14,25,36,89,36,"stiudent","hello","teacher"]   ## reversing a list
print(a[::-1])

['teacher', 'hello', 'stiudent', 36, 89, 36, 25, 14]

In [12]:
print(len(a))

8

In [13]:
print(a[5:9])

['stiudent', 'hello', 'teacher']

In [14]:
b=a[5:9]
print(b)

['stiudent', 'hello', 'teacher']

In [15]:
print(type(b))

<class 'list'>

In [16]:
print(a[:8:2])

[14, 36, 36, 'hello']

In [17]:
a=[14,25,36,89,36,"stiudent","hello","teacher"]
print(a[:8:3])

[14, 89, 'hello']

In [18]:
print(a[::3])

[14, 89, 'hello']

In [23]:
"""devidi a list into two list and reverese it"""

l=[15,14,36,78,96,45,36,96,45,10]
print(l)
a=l[0:5]
print(a)
b=l[5:]
print(b)

[15, 14, 36, 78, 96, 45, 36, 96, 45, 10]
[15, 14, 36, 78, 96]
[45, 36, 96, 45, 10]

In [27]:

l=[15,14,36,78,96,45,36,96,45,10]
for i in range(len(l)):
    print(i)

0
1
2
3
4
5
6
7
8
9

# ** append() method

In [28]:
## this method is used to appending or adding elements to the end of the list

In [29]:
l=[14,56,78,89,78,36,96,36]
print(l)
l.append(["krish","naik"])
print(l)

[14, 56, 78, 89, 78, 36, 96, 36]
[14, 56, 78, 89, 78, 36, 96, 36, ['krish', 'naik']]

In [30]:
a=[14,36,78,36,96]
b=[96,78,25,46,36]
c=a+b
print(c)
print(type(c))

[14, 36, 78, 36, 96, 96, 78, 25, 46, 36]
<class 'list'>

In [32]:
a=[14,52,63,69]
a.append((65,89))
print(a)

[14, 52, 63, 69, (65, 89)]

# ** extend() method

In [34]:
a=[17,18,29,30]
a.extend((31,32,33))
print(a)

[17, 18, 29, 30, 31, 32, 33]

In [35]:
a.extend(["krish","naik"])
print(a)

[17, 18, 29, 30, 31, 32, 33, 'krish', 'naik']

# LIST PART-2

# 1. insert()
# 2. remove()
# 3. pop()
# 4. clear()

# #Insert() method

In [1]:
# it insert elements at a given index

In [2]:
a=[12,45,78,96,36,45]  ## insering elemnts at index at 1
a.insert(1,100)
print(a)

[12, 100, 45, 78, 96, 36, 45]

In [4]:
a=[12,45,78,96,36,45] 
print(a)
a.insert(3,"krishna")
print(a)

[12, 45, 78, 96, 36, 45]
[12, 45, 78, 'krishna', 96, 36, 45]

# ** remove() method

In [5]:
# it removes a given object from the list . here we directly delete the element

In [6]:
l=[20,35,45,50,65,'hello']
print(l)
l.remove(50)
print(l)

[20, 35, 45, 50, 65, 'hello']
[20, 35, 45, 65, 'hello']

In [7]:
l=[20,35,45,50,65,'hello','datascience','python']
print(l)
l.remove("datascience")
print(l)

[20, 35, 45, 50, 65, 'hello', 'datascience', 'python']
[20, 35, 45, 50, 65, 'hello', 'python']

In [9]:
# deleating a sublist from a list
m=[13,58,96,14,75,36]
print(m)
n=[-1,-2,-3]
m.append(n)
print(m)
m.remove([-1,-2,-3])
print(m)

[13, 58, 96, 14, 75, 36]
[13, 58, 96, 14, 75, 36, [-1, -2, -3]]
[13, 58, 96, 14, 75, 36]

In [10]:
m=[13,58,96,14,75,36]
print(m)
n=[-1,-2,-3]
m.append(n)
print(m)
c=["cat","dog","horse"]
m.append(c)
print(m)

[13, 58, 96, 14, 75, 36]
[13, 58, 96, 14, 75, 36, [-1, -2, -3]]
[13, 58, 96, 14, 75, 36, [-1, -2, -3], ['cat', 'dog', 'horse']]

In [11]:
m=[13,58,96,14,75,36]
print(m)
n=[-1,-2,-3]
m.append(n)
print(m)
c=["cat","dog","horse"]
m.append(c)
print(m)
m.remove(n)
print(m)

[13, 58, 96, 14, 75, 36]
[13, 58, 96, 14, 75, 36, [-1, -2, -3]]
[13, 58, 96, 14, 75, 36, [-1, -2, -3], ['cat', 'dog', 'horse']]
[13, 58, 96, 14, 75, 36, ['cat', 'dog', 'horse']]

#  ** pop() method

In [12]:
# it removes values from the list at given index. here we give index to remove the elements

In [13]:
l=[78,96,56,36,45,25]
print(l)
l.pop(2)
print(l)

[78, 96, 56, 36, 45, 25]
[78, 96, 36, 45, 25]

In [17]:
l=[78,96,36,45,36,78]
print(l)
m=["krish","naik",1.2,3.2,4.2]
l.append(m)
print(l)
l.pop(6)
print(l)

[78, 96, 36, 45, 36, 78]
[78, 96, 36, 45, 36, 78, ['krish', 'naik', 1.2, 3.2, 4.2]]
[78, 96, 36, 45, 36, 78]

# ** clear() method

In [18]:
# it clear all the elements from the list

In [19]:
l=[14,96,36,78,54,24]
print(l)
l.clear()
print(l)

[14, 96, 36, 78, 54, 24]
[]

In [20]:
l=[14,96,36,78,54,24]
print(l)
print(len(l))
l.clear()
print(l)
print(len(l))

[14, 96, 36, 78, 54, 24]
6
[]
0

# ** list count() method

In [21]:
# this method returns the count of how many times a given object occurs in a list

In [22]:
a=[12,78,25,12,36,25,89,12,25,13,25,89]
a.count(25)

4

In [24]:
a=[12,78,25,12,36,25,89,12,25,13,25,89]
a.count(12)

3

In [27]:
a=[12,78,25,12,36,25,89,12,25,13,25,89]
a.count(89)

2

In [28]:
a=[12,78,25,12,36,25,89,12,25,13,25,89]
a.count(10)

0

# ** max() method

In [30]:
# it returns the maximum number from the list

In [33]:
a=[14,96,45,36,78,96,54]
print(max(a))

96

In [34]:
a=[45,36,98.32,14.23,23.36]
print(max(a))

98.32

In [35]:
a=["hello",'world']
print(max(a))

world

In [36]:
a=["hello",'world',"apple0","zebra"]
print(max(a))

zebra

# ** min() method

In [ ]:
# it returns the minimum value from the list

In [37]:
 a=[14,96,45,36,78,96,54]
print(min(a))

14

In [39]:
a=["hello",'world',"apple","zebra"]
print(min(a))

apple

# LIST PART-3

# 1.count() method
# 2. min()
# 3. max()
# 4. sort()
# 5.reverse()
# 6. index()
# 7. copy()
# 8. using loops in list

# ** sort() method

In [1]:
# it sort the elements in ascending or descending order or user defined order

In [3]:
l=[12,78,96,365,74,36,75,61]  # sorting in ascending order
print(l)
l.sort()
print(l)

[12, 78, 96, 365, 74, 36, 75, 61]
[12, 36, 61, 74, 75, 78, 96, 365]

In [4]:
l=[12,78,96,365,74,36,75,61]  # sorting in descending order
print(l)
l.sort(reverse=True)
print(l)

[12, 78, 96, 365, 74, 36, 75, 61]
[365, 96, 78, 75, 74, 61, 36, 12]

In [5]:
b=["aunty","neighbours","uncle","nephew","brother","sister"]
print(b)
b.sort()
print(b)

['aunty', 'neighbours', 'uncle', 'nephew', 'brother', 'sister']
['aunty', 'brother', 'neighbours', 'nephew', 'sister', 'uncle']

In [7]:
b=["aunty","neighbours","uncle","nephew","brother","sister"]
print(b)
b.sort(reverse=True)
print(b)

['aunty', 'neighbours', 'uncle', 'nephew', 'brother', 'sister']
['uncle', 'sister', 'nephew', 'neighbours', 'brother', 'aunty']

# *** reverse() method

In [8]:
# it reverse objects of the list in place.
# it doesnot use any extra space but it just modifies the original list

In [9]:
l=[78,96,12,45,0,3,45]
l.reverse()
print(l)

[45, 3, 0, 45, 12, 96, 78]

In [10]:
a=["van","cat","apple","hen" ]
a.reverse()
print(a)

['hen', 'apple', 'cat', 'van']

# ** index() method

In [ ]:
# it returne the index of a particular elements

In [12]:
a=[78,36,45,96,47,36]
print(a[0])
a.index(96)

78

3

# ** copy() method

In [13]:
# it returns a shallow copy of a list. it returns a new list without modifying the original lists

In [14]:
l=[12,45,78,32,15]
l1=[]
l1=l
print(l1)

[12, 45, 78, 32, 15]

In [16]:
l[2]="hello"
print(l)
print(l1)

[12, 45, 'hello', 32, 15]
[12, 45, 'hello', 32, 15]

# copy method

In [17]:
l=[12,45,78,32,15]
l1=l.copy()
print(l1)

[12, 45, 78, 32, 15]

In [18]:
l1[2]="students"
print(l1)

[12, 45, 'students', 32, 15]

In [19]:
print(l)

[12, 45, 78, 32, 15]

In [20]:
"""take the input in the list from the user and then reverse the list"""

'take the input in the list from the user and then reverse the list'

In [29]:
l=list(input("please enter the elements of the list"))
print(l)

please enter the elements of the list78,969,47,35,47
['7', '8', ',', '9', '6', '9', ',', '4', '7', ',', '3', '5', ',', '4', '7']

In [30]:
print(type(l))

<class 'list'>

In [31]:
l=[]
n=int(input("please enter the length of the list"))
for i in range(n):
    l.append(int(input("enter the elements of the list")))
print(l)

please enter the length of the list5
enter the elements of the list5
enter the elements of the list6
enter the elements of the list7
enter the elements of the list8
enter the elements of the list9
[5, 6, 7, 8, 9]

In [34]:
l=[]
n=int(input("please enter the length of the list"))
for i in range(n):
    l.append(int(input("enter the elements of the list")))
print(l)
l.reverse()
print(l)

please enter the length of the list5
enter the elements of the list78
enter the elements of the list36
enter the elements of the list45
enter the elements of the list14
enter the elements of the list36
[78, 36, 45, 14, 36]
[36, 14, 45, 36, 78]

In [33]:
print(type(l))

<class 'list'>

In [36]:
"""take the input from the useer and interchange the first and the last elemet of the list"""

'take the input from the useer and interchange the first and the last elemet of the list'

In [39]:
l=[]
n=int(input("enter the length of the list"))
for i in range(n):
    l.append(int(input("enter the elemts of the list")))
print(l)
temp=0
temp=l[0]
l[0]=l[7]
l[7]=temp
print(l)

enter the length of the list8
enter the elemts of the list1
enter the elemts of the list2
enter the elemts of the list3
enter the elemts of the list4
enter the elemts of the list5
enter the elemts of the list6
enter the elemts of the list7
enter the elemts of the list8
[1, 2, 3, 4, 5, 6, 7, 8]
[8, 2, 3, 4, 5, 6, 7, 1]