# CONCEPTS OF LOOPS

 # 1. while loop

In [1]:
x=0;
while(x<11):
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
10

In [2]:
"""take the number from the user and print all the number in between 1 to that number   """

'take the number from the user and print all the number in between 1 to that number   '

In [8]:
i=1;
x=int(input("please enter the number"))
while(i<=x):
    print(i)
    i=i+1
print("yes it is done")

please enter the number10
1
2
3
4
5
6
7
8
9
10
yes it is done

In [9]:
"""enter the value and write its multiplication table till 10"""

'enter the value and write its multiplication table till 10'

In [13]:
n=int(input("please enter the value: "))
mul=1
i=1
while(i<=10):
    mul=n*i
    i=i+1
    print(mul)
print("this is multiplication table")

please enter the value: 12
12
24
36
48
60
72
84
96
108
120
this is multiplication table

In [14]:
"""enter the number from user and print its exponential value till 5 """

'enter the number from user and print its exponential value till 5 '

In [19]:
import math
x=int(input("enter the value"))
i=1
while(i<=5):
    print(x**i)
    i=i+1
print("these are the exponential values")

enter the value60
60
3600
216000
12960000
777600000
these are the exponential values

In [20]:
"""enter the number from the user and check the number is even or odd"""

'enter the number from the user and check the number is even or odd'

In [32]:
x=int(input("enter the number:"))
i=1
while(i<=x):
    if i%2==0:
        print("the number is even",i)
    else:
        pass
    i=i+1

enter the number:5
the number is even 2
the number is even 4

In [33]:
"""print patterns"""

'print patterns'

In [34]:
n=int(input("enter the value"))

i=1
while(i<n):
    if i==1:
        print("*")
    elif i==2:
        print("**")
    elif i==3:
        print("***")
    elif i==4:
        print("****")
    else:
        print("*****")
        
    i=i+1

enter the value5
*
**
***
****

In [40]:
n=int(input("enter the value"))
i=1

while i<=n:
    j=1
    while j<=i:
        print("*",end =" ")
        j=j+1
    print()
    i=i+1

enter the value10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [42]:
n=int(input("enter the value"))
i=n

while i>=1:
    j=1
    while j<=i:
        print("*",end =" ")
        j=j+1
    print()
    i=i-1

enter the value10
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [43]:
n=int(input("enter the value"))
i=1

while i<=n:
    j=1
    while j<=i:
        print("&*",end =" ")
        j=j+1
    print()
    i=i+1

enter the value10
&*
&* &*
&* &* &*
&* &* &* &*
&* &* &* &* &*
&* &* &* &* &* &*
&* &* &* &* &* &* &*
&* &* &* &* &* &* &* &*
&* &* &* &* &* &* &* &* &*
&* &* &* &* &* &* &* &* &* &*