# sets part-1

# 1.introduction
# 2.len()
# 3.access items in sets
# 4.add
# 5. update
# 6. discard

In [ ]:
#  python set is a collection of unordered items.
# each elements in set must be unique , and immutable,
# and sets remove the duplicate elements
# sets are mutable which means we can modify it after its creation
# there is no indexing in sets

In [2]:
# sets items
# set items are unordered , unchanangeble and do no allow duplicate
# we define sets with curly braces --->> {}

In [1]:
s={12,13,14,15}
print(s)
print(type(s))

{12, 13, 14, 15}
<class 'set'>

In [3]:
S={12,14,16,-36,-2,12.5,58.6,"hello","code","datascience"}
print(S)
print(type(S))

{'hello', 'datascience', 12, 12.5, 14, 'code', 16, 58.6, -36, -2}
<class 'set'>

# unordered

In [4]:
s={25,14,96,78,-36,-8,2.64,58}
print(s)

{96, 2.64, 78, 14, -8, 25, 58, -36}

In [6]:
print(s[0])

TypeError: 'set' object is not subscriptable

# duplicate not allowed

In [7]:
m={12,78,14,23,12,15,14}
print(m)

{23, 78, 12, 14, 15}

In [8]:
m={12,78,14,23,12,15,14,2.36,5,2.36,"hello","boat","apple","boat"}
print(m)

{2.36, 'hello', 5, 'boat', 12, 78, 15, 14, 'apple', 23}

# get the lenghth of the set

In [9]:
m={12,78,14,23,12,15,14}  # it removes the duplicates value tyen it shows the length of the set
print(len(m))

5

In [10]:
a={True,False,False,True}
print(a)

{False, True}

# access items in the set

In [11]:
m={12,78,14,23,12,15,14}
for i in m:
    print(i)

23
78
12
14
15

In [12]:
m={12,78,14,23,12,15,14,2.36,5,2.36,"hello","boat","apple","boat"}
for i in m:
    print(i)

2.36
hello
5
boat
12
78
15
14
apple
23

In [13]:
"""check if apple is in the set or not"""
m={12,78,14,23,12,15,14,2.36,5,2.36,"hello","boat","apple","boat"}
print("apple" in m)

True

In [14]:
"""check if apple is in the set or not"""
m={12,78,14,23,12,15,14,2.36,5,2.36,"hello","boat","apple","boat"}
print("bat" in m)

False

# add() method in set

In [ ]:
# with add method we add only one element in the set

In [15]:
a={23,24,17,19,"red","blue","green"}
a.add("yellow")
print(a)

{17, 'blue', 19, 'yellow', 23, 24, 'green', 'red'}

In [16]:
a={23,24,17,19,"red","blue","green"}
a.add("orange")
print(a)

{17, 'blue', 19, 'orange', 23, 24, 'green', 'red'}

In [17]:
a={23,24,17,19,"red","blue","green"}
a.add(25.78)
print(a)

{17, 'blue', 19, 23, 24, 25.78, 'green', 'red'}

In [18]:
a={23,24,17,19,"red","blue","green"}      #adding 2 items which is not possible in set
a.add(99,100)
print(a)

TypeError: set.add() takes exactly one argument (2 given)

# update () in set

In [19]:
# it is used to add more then 2 elements in set

In [20]:
a={12,14,15,16,-36,-9}
b={"red","blue","green"}
a.update(b)
print(a)

{12, 14, 15, 16, 'green', 'blue', 'red', -9, -36}

In [22]:
a={12,14,15,16,-36,-9}
b={2.69,0.23}
b.update(a)
print(b)
print(a)

{0.23, 2.69, 12, 14, 15, 16, -9, -36}
{16, -9, -36, 12, 14, 15}

# removing items in set

In [23]:
a={23,28,34,15,3,2.36,9,-8,-2}
a.remove(2.36)
print(a)

{34, 3, 9, 15, 23, -8, 28, -2}

In [24]:
a={23,28,34,15,3,2.36,9,-8,-2,"north","south","east","west"}
a.remove("south")
print(a)

{2.36, 34, 3, -8, 'east', 9, 'west', 15, 23, 'north', 28, -2}

# discard () method in set

In [25]:
a={23,28,34,15,3,2.36,9,-8,-2,"north","south","east","west"}
a.discard("south")
print(a)

{2.36, 3, 34, 'east', 9, 'west', 'north', 15, 23, -8, 28, -2}

In [26]:
a={23,28,34,15,3,2.36,9,-8,-2,"north","south","east","west"}
a.discard(2.36)
print(a)

{3, 34, 'east', 9, 'west', 'north', 15, 'south', 23, -8, 28, -2}

In [27]:
a={23,28,34,15,3,2.36,9,-8,-2,"north","south","east","west"}
a.discard("south","north")
print(a)

TypeError: set.discard() takes exactly one argument (2 given)

In [28]:
a={23,28,34,15,3,2.36,9,-8,-2,"north","south","east","west"}
a.remove("south","north")
print(a)

TypeError: set.remove() takes exactly one argument (2 given)

# SET'S  PART-2

# 1. pop()
# 2. clear()
# 3. delete()
# 4. union()
# 5. intersection - update
# 6. intersection
# 7. difference
# 8. symmetric difference
# 9. difference- update
# 10. symmetric_ difference_update

# ** pop() method

In [ ]:
# pop  method delete any random number from the set

In [1]:
a={12,34,56,78,90,2.36,-8,"hello","world"}
a.pop()
print(a)

{2.36, 'world', 56, 12, 78, -8, 90, 'hello'}

In [3]:
a={12,34,56,78,90,2.36,-8,"hello","world","red",5.69,7.8}
a.pop()
print(a)

{2.36, 'world', 5.69, 56, 7.8, 'red', 12, 78, -8, 90, 'hello'}

# ** clear() method

In [ ]:
# it delete all the elements from the set

In [5]:
a={12,78,96,56,36,47}
a.clear()
print(a)
print(type(a))

set()
<class 'set'>

# ** del() method

In [6]:
# it delete the whole set from the memory

In [8]:
a={12,78,96,56,36,47}
del(a)
print(a)

NameError: name 'a' is not defined

# python_join_set

# union method

In [11]:
s1={12,13,14,15}
s2={16,17,18,19}

c=s1.union(s2)
print(c)

{12, 13, 14, 15, 16, 17, 18, 19}

In [12]:
s1={12,13,14,15,2.36}
s2={16,17,18,19,"hello","python"}

c=s1.union(s2)
print(c)

{2.36, 'python', 12, 13, 14, 15, 16, 17, 18, 19, 'hello'}

# Difference between union and update

In [13]:
"""update method"""
a={1,2,3}
b={4,5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

In [14]:
a={1,2,3}
b={4,5,6}
c=a.update(b)
print(c)

None

In [15]:
a={1,2,3}
b={4,5,6}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6}

# intersection_update()

In [16]:
# it works like a intersection in sets

In [19]:
a={23,24,25,26,"apple","cherry"}
b={18,24,23,"cherry"}
a.intersection_update(b)
print(a)

{24, 'cherry', 23}

In [20]:
a={23,24,25,26,"apple","cherry"}
b={18,24,23,"cherry"}
b.intersection_update(a)
print(b)

{24, 'cherry', 23}

In [21]:
a={23,24,25,26,"apple","cherry"}
b={18,24,23,"cherry"}
c=a.intersection_update(b)
print(c)

None

# intersecton() method

In [22]:
a={23,24,25,26,"apple","cherry"}
b={18,24,23,"cherry"}
c=a.intersection(b)
print(c)

{24, 'cherry', 23}

In [23]:
m={2.36,2.3,4.5,5.6,6.9}
n={2.36,5.6,1.2}
r=m.intersection(n)
print(r)

{2.36, 5.6}

# Difference() method

In [24]:
"""return a set that contains the items that only exist in the set x not in the set y"""

'return a set that contains the items that only exist in the set x not in the set y'

In [25]:
x={12,13,14,15,16,"delhi","bombay","chennai"}
y={10,11,12,14,"delhi"}
c=x.difference(y)
print(c)

{'bombay', 13, 15, 16, 'chennai'}

In [26]:
x={12,13,14,15,16,"delhi","bombay","chennai"}
y={10,11,12,14,"delhi"}
c=y.difference(x)
print(c)

{10, 11}

# difference_update() method

In [27]:
# removes the items in both set

In [29]:
a={17,18,19,20,"hello","coding","class"}
b={17,"coding"}
a.difference_update(b)
print(a)

{'hello', 'class', 18, 19, 20}

In [31]:
a={17,18,19,20,"hello","coding","class"}
b={17,"coding"}
b.difference_update(a)
print(a)

{'hello', 'class', 17, 18, 19, 20, 'coding'}

# symmetric_difference_update() method

In [32]:
# it will keep only the elements that are NOT present in both sets

In [33]:
a={13,24,25,26,"apple","cherry"}
b={18,19,23,96,"cherry"}
a.symmetric_difference_update(b)
print(a)

{'apple', 13, 18, 19, 23, 24, 25, 26, 96}

In [34]:
a={13,24,25,26,"apple","cherry"}
b={18,19,23,96,"cherry"}
b.symmetric_difference_update(a)
print(b)

{'apple', 13, 18, 19, 23, 24, 25, 26, 96}

In [35]:
a={13,24,25,26,"apple","cherry"}
b={18,19,23,96,"cherry"}
c=b.symmetric_difference_update(a)
print(c)

None

# symmetric_difference() method

In [36]:
# it will return a new set, that contains only the elemnts that are not present in both sets

In [38]:
a={13,24,25,26,"apple","cherry"}
b={18,19,23,96,"cherry"}
c=b.symmetric_difference(a)
print(c)

{'apple', 13, 18, 19, 23, 24, 25, 26, 96}

In [39]:
a={13,24,25,26,"apple","cherry"}
b={18,19,23,96,"cherry"}
c=b.symmetric_difference(a)
print(c)
print(type(c))

{'apple', 13, 18, 19, 23, 24, 25, 26, 96}
<class 'set'>

In [40]:
a={13,24,25,26,"apple","cherry"}
b={18,19,23,96,"cherry"}
c=a.symmetric_difference(b)
print(c)
print(type(c))

{'apple', 13, 18, 19, 23, 24, 25, 26, 96}
<class 'set'>

# SET'S PART-3

# 1. is disjoint()
# 2. is superset()
# 3. is subset()
# 4. set()
# 5.max()
# 6. min()
# 7.copy()
# 8.loops in set

# ** isdisjoint() method

In [ ]:
# return true if no item in set x present in set y

In [1]:
x={12,14,16,18,"hello","class"}
y={10,23,25,27}
z=x.isdisjoint(y)
print(z)

True

In [2]:
x={12,14,16,18,"hello","class"}
y={10,23,25,27,12}
z=x.isdisjoint(y)
print(z)

False

# ** issubset() method

In [ ]:
# returns whether another set contains this set or not

In [3]:
x={1,2,3,4,5,6}
y={10,12,13,14,1,2,3,4,5,6}
c=x.issubset(y)
print(c)

True

In [4]:
x={1,2,3,4,5,6,7,8}
y={10,12,13,14,1,2,3,4,5,6}
c=x.issubset(y)
print(c)

False

In [5]:
x={1,2,3,4,5,6}
y={10,12,13,14,1,2,3,4,5,6}
c=y.issubset(x)
print(c)

False

In [6]:
x={1,2,3,4,5,6}
y={1,2,3,4,5,6}
c=x.issubset(y)
print(c)

True

# ** issuperset() method

In [ ]:
# returns true if all items set y are present in set x:

In [7]:
x={1,2,3,4,5,6}
y={10,12,13,14,1,2,3,4,5,6}
c=y.issuperset(x)
print(c)

True

In [8]:
x={1,2,3,4,5,6}
y={10,12,13,14,1,2,3,4,5,6}
c=x.issuperset(y)
print(c)

False

In [9]:
p={1,2,3}
q={1,2,3}
c=p.issuperset(q)
print(c)

True

In [10]:
p={1,2,3}
q={1,2,3}
c=q.issuperset(p)
print(c)

True

In [11]:
s={30}
print(type(s))

<class 'set'>

In [12]:
a={}
print(type(a))

<class 'dict'>

# creating an empty set

In [13]:
a=set()
print(a)

set()

# **set() function

In [16]:
l=[12,13,14,15]
print(l)
print(type(l))
s=set(l)
print(s)
print(type(s))

[12, 13, 14, 15]
<class 'list'>
{12, 13, 14, 15}
<class 'set'>

In [17]:
l=[12,13,14,15]
print(l)
print(type(l))
s=set(l)
print(s)
print(type(s))
l2=list(s)
print(l2)

[12, 13, 14, 15]
<class 'list'>
{12, 13, 14, 15}
<class 'set'>
[12, 13, 14, 15]

In [20]:
t=(10,12,15,17)
s=set(t)
print(t)
print(type(s))

(10, 12, 15, 17)
<class 'set'>

In [23]:
s1=tuple(s)
print(s1)
print(type(s1))

(17, 10, 12, 15)
<class 'tuple'>

# **min and max

In [24]:
p={12,18,24,27}
print(min(p))

12

In [25]:
p={"boy","cat","fan","python"}
print(min(p))

boy

In [26]:
p={12,18,24,27}
print(max(p))

27

In [27]:
p={"boy","cat","fan","python"}
print(max(p))

python

# ** copy() method

In [28]:
"wht you need copy method ?"
a={12,7,8,60,53,21}
b=a
a.add("hello")
print(b)
print(a)

{21, 53, 7, 8, 12, 'hello', 60}
{21, 53, 7, 8, 12, 'hello', 60}

In [29]:
a={12,7,8,60,53,21}
b=a.copy()
a.add("hello")
print(b)
print(a)

{21, 53, 7, 8, 12, 60}
{21, 53, 7, 8, 12, 'hello', 60}

In [30]:
"""intersection of two list """
l1=[3,4,5,7,8,9]
l2=[1,2,3,4,5]

s1=set(l1)
print(s1)
s2=set(l2)
print(l2)

s3=s1.intersection(s2)
print(s3)
s4=list(s3)
print(s4)

{3, 4, 5, 7, 8, 9}
[1, 2, 3, 4, 5]
{3, 4, 5}
[3, 4, 5]

In [31]:
"""taking input in set from user"""
a=input("please enter the values")
s1=set(a)
print(s1)

please enter the values14
{'1', '4'}

In [35]:
n=int(input("please enter how many elements you want:"))
a=set()
for i in range(n):
    b=input("enter the elements:")
    a.add(b)
print(b)

please enter how many elements you want:5
enter the elements:40
enter the elements:45
enter the elements:50
enter the elements:55
enter the elements:60
60

In [39]:
"""write a python program to find the common items in 3 list using sets"""

s1=set()
s2=set()
s3=set()


for i in range(1):
    n=int(input("please enter how many elements you want in first list"))
    for i in range(n):
        a=input("enter the elements of list one:")
        s1.add(a)
    n2=int(input("please enter how many elements you want in second list"))
    for i in range(n2):
        b=input("enter the elements of list second")
        s2.add(b)
    n3=int(input("please enter how many elements you want in third list"))
    for i in range(n3):
        c=input("enter the elements of third list")
        s3.add(c)
print(s1)
print(s2)
print(s3)

p1=s1.intersection(s2)
print(p1)
p2=p1.intersection(s3)
print(p2)

please enter how many elements you want in first list15
enter the elements of list one:1
enter the elements of list one:2
enter the elements of list one:3
enter the elements of list one:4
enter the elements of list one:5
enter the elements of list one:6
enter the elements of list one:7
enter the elements of list one:8
enter the elements of list one:9
enter the elements of list one:10
enter the elements of list one:11
enter the elements of list one:12
enter the elements of list one:1314
enter the elements of list one:15
enter the elements of list one:14
please enter how many elements you want in second list10
enter the elements of list second1
enter the elements of list second2
enter the elements of list second3
enter the elements of list second4
enter the elements of list second5
enter the elements of list second6
enter the elements of list second7
enter the elements of list second8
enter the elements of list second9
enter the elements of list second10
please enter how many elements you want in third list5
enter the elements of third list1
enter the elements of third list2
enter the elements of third list3
enter the elements of third list4
enter the elements of third list5
{'1314', '9', '11', '8', '6', '5', '2', '3', '15', '7', '1', '4', '14', '10', '12'}
{'9', '8', '6', '5', '2', '3', '7', '1', '4', '10'}
{'5', '2', '3', '1', '4'}
{'9', '8', '6', '5', '2', '3', '7', '1', '4', '10'}
{'5', '2', '3', '1', '4'}